@value markerLightGray, markerBlue, markerWhite, markerYellowGreen, markerShadow from '../../common/colors.css';

.header {
  display: flex;
  height: 4.5rem;
  padding: 0.5em 1em;
}

.logo {
  margin-right: 1em;
  cursor: pointer;
}

.input {
  margin-left: auto;
  flex-basis: 50%;
  font-size: 1.2rem;
  outline: 0;
  border: 1px solid markerLightGray;
  border-radius: 0.2em 0 0 0.2em;
  box-shadow: 1px 1px 3px 0px markerShadow;
}

.button {
  position: relative;
  background: markerBlue;
  color: markerWhite;
  border: none;
  border-radius: 0 0.4em 0.4em 0;
  padding: 10px;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.25s;
}

.button:hover {
  background: markerYellowGreen;
}
