@value mediaQuery from '../../common/size.css';
@value markerShadow, markerGray, markerLightGray, markerBlue, markerDarkBlue, markerWhite, markerYellowGreen from '../../common/colors.css';

.container {
  width: 25%;
  padding: 0.3em;
}

.lecture {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid markerLightGray;
  box-shadow: 3px 3px 5px 0px markerShadow;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.lecture:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.metadata {
  padding: 0.3em;
}

.name,
.lecturer,
.price {
  margin: 0.3em 0;
  font-weight: bold;
}

.name {
  font-size: large;
}

.lecturer {
  font-size: 0.8rem;
  color: markerGray;
}

.price {
  color: markerDarkBlue;
}

.price::before {
  content: "₩";
}

.button {
  cursor: pointer;
  position: relative;
  background: markerBlue;
  color: markerWhite;
  border: none;
  padding: 10px;
  font-weight: bold;
  transition: 0.25s;
}

.button:hover {
  background: markerYellowGreen;
}

@media screen and (max-width: mediaQuery) {
  .container {
    width: 50%;
  }
}
