@value markerBlue, markerYellowGreen, markerBlue, markerWhite, markerGray, markerLightGray, markerBlack, markerShadow from '../../common/colors.css';

.container {
  flex-basis: 50%;
  padding: 1em 3em;
  margin: 0 auto;
}

.input {
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  outline: 0;
  border: 1px solid markerLightGray;
  border-radius: 0.2em 0 0 0.2em;
  box-shadow: 1px 1px 3px 0px markerShadow;
}

.button {
  position: relative;
  background: markerBlue;
  color: markerWhite;
  border: none;
  border-radius: 0.4em;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.25s;
}

.button:hover {
  background: markerYellowGreen;
}

h1 div {
  float: right;
}

.origin {
  font-size: 1.1rem;
  text-decoration: line-through;
  text-decoration-style: double;
  margin-right: 0.5em;
}

.voucher {
  display: flex;
  height: 2.5rem;
}

.voucher button {
  width: 20%;
  position: relative;
  background: markerBlue;
  color: markerWhite;
  border: none;
  border-radius: 0 0.4em 0.4em 0;
  padding: 10px;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}

.pay {
  border: 1px solid markerLightGray;
  box-shadow: 1px 1px 3px 0px markerShadow;
  padding: 0 2em 1em 2em;
  margin-top: 1em;
}

.pay input {
  margin-top: 0.3em;
  border-radius: 0.2em;
}

.pay label {
  display: block;
}

.field {
  margin-top: 1em;
}

.pay button {
  width: 100%;
  margin-top: 1em;
  transition: 0.25s;
}

.paygroup button {
  width: 40%;
  margin-top: 0.2em;
  margin-right: 0.5em;
  margin-bottom: 0.3em;
  padding: 0.5em;
  background: markerWhite;
  border: 1px solid markerLightGray;
  border-radius: 0.3em;
  cursor: pointer;
}

.paygroup button.active {
  border-color: markerBlack;
  font-weight: bold;
}

.paygroup button:hover {
  border: 1px solid markerGray;
}

.paygroup button span {
  margin-left: 0.2em;
}
