@value mediaQuery from '../../common/size.css';
@value markerGray from '../../common/colors.css';

h2 {
  text-align: center;
  color: #424242;
  margin-top: 1em;
}

h2 span {
  font-size: 1rem;
}

.container {
  height: 80vh;
  display: flex;
  flex: 1;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
